:root {
    --clr-primary-100: #fff;
    --clr-primary-900: #1e1e1e;
    --clr-primary-400: #282727;
    --clr-nav-900: #323233;
    --clr-para-400: #b6b6b6;
    --clr-blue-400: #007cff;
    --clr-blue-800: #2a4ca2;
    --clr-red-400: red;
    --clr-green-400: #52b66cfa;
    --clr-body-400: #ff63e8;
    --clr-pink-400: #fd2247;
}

.lighttheme {
    --clr-primary-100: black;
    --clr-primary-900: #fafafa;
    --clr-primary-400: #d1d1d1;
    --clr-nav-900: #e8e8e8;
    --clr-para-400: #312d2d;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--clr-primary-100);
    font-size: 1.6rem;
    line-height: 3.5rem;
    font-family: 'Josefin Sans', sans-serif;
    /* user-select: none;  */
    scroll-behavior: smooth;
    transition: background-color 0.7s ;
}

html {
    /* 100%=16px */
    /* so 1px =6.25% */
    /* 10px=62.5% */
    font-size: 62.5%;
}

/* icons style */
.material-symbols-sharp {
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 200,
        'opsz' 48
}

.material-symbols-outlined,
i {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 4rem;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.githubicons {
    color: var(--clr-red-400);
}

body {
    background-color: var(--clr-primary-900);
}

.active {
    background-color: var(--clr-primary-900);
    border-radius: 20px 0px 0px 20px;
    color: white;
}

.back-activesection {
   z-index: 30;
}
.activesection {
    animation: sildersection 0.6s ease;
    z-index: 31;
    left: 19vw;
}

@keyframes sildersection {

    0% {
        left: 100vw;
    }

    100% {
        left: 19vw;
    }
}

/* ---------------------------menu bar---------------------------- */
.menubar,
.crossmenubar {
    position: fixed;
    top: 3rem;
    left: 4rem;
    display: none;
    z-index: 100;
    cursor: pointer;
}
.menubar{
    width: 4rem;
}
.crossmenubar{
    top: 3rem;
    left: 8rem;
}
.z2000{
    z-index: 2000;
}

/* ----------------------navigation bar--------------------------*/
header {

    background-color: var(--clr-nav-900);
    height: 100vh;
    width: 19vw;
    position: fixed;
    z-index: 1000;
    top: 0rem;
    left:0rem;
    border-radius: 0px 16rem 0px 0px;
}


.side_navbar {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    padding: 7rem 0rem;
    height: 100vh;
    line-height: 5rem;
}

.logo_circle img {
    height: 16rem;
    border-radius: 100%;
    margin-bottom: 2rem;
}

.navbar_properties_with_icon {
    width: 87%;
    margin-left: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.navbar_properties_with_icon li {
    list-style-type: none;
    font-weight: 900;
    border-bottom: 1px solid var(--clr-primary-900);
}

.navbar_properties_with_icon li:hover {
    background-color: var(--clr-primary-900);
    border-radius: 20px 0px 0px 20px;
}

.navbar_properties_with_icon li a:active {
    background-color: var(--clr-primary-400);
    border-radius: 20px 0px 0px 20px;
}

.navbar_properties_with_icon li a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 5rem;
}

.navbar_properties_with_icon li a :first-child {
    font-size: 4rem;
    width: 3rem;
}

.navbar_properties_with_icon li a :nth-child(2n) {
    text-align: start;
    width: 12rem;
    font-size: 2rem;
}

.navbar_properties_with_icon li a span {
    color: var(--clr-red-400);

}

.navbar_properties_with_icon li a span {
    color: var(--clr-red-400);

}

/*---------------------- this css for home page----------------------- */
.section {
    position: fixed;
    background-color: var(--clr-primary-900);
    top: 0rem;
    height: 100%;
    z-index: 1;
    padding: 2rem 3.5rem;
    overflow-y: auto;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8rem;
    width: 81vw;
    margin: 5rem 0rem 5rem 0rem;
}

.textcontainer {
    line-height: 2rem;


}

.textcontainer-h1-span {
    font-size: 6.5rem;
    font-family: 'Rosario', sans-serif;
    color: var(--clr-red-400);
    line-height: 6rem;
    letter-spacing: 0.5rem;
    word-spacing: 2rem;
}

.textcontainer-h1-span2 {
    font-size: 4rem;
    color: var(--clr-red-400);
    line-height: 4rem;

}

.textcontainer p {
    color: var(--clr-para-400);
}

.buttonmoreaboutme {
    background-color: var(--clr-red-400);
    border: none;
    font-size: 1.7rem;
    border-radius: 20px;
    padding: 0.6rem 3.5rem;
    margin-top: 3.5rem;
    font-weight: 700;
}

.buttonmoreaboutme:hover {
    cursor: pointer;
    background-color: rgba(138, 138, 138, 0.60000);
    color: black;
    border-radius: 15px;
}

.imgcontainer img {
    width: 35rem;
}

/* -------------------css for red border in image-------------- */
.imgcontainer {
    position: relative
}

.imgcontainer:before,
.imgcontainer:after,
.imgcontainer>:first-child:before,
.imgcontainer>:first-child:after {
    position: absolute;
    content: ' ';
    width: 8rem;
    height: 8rem;
    border-color: var(--clr-red-400);
    border-style: solid;
}

.imgcontainer:before {
    top: -32px;
    left: -32px;
    border-width: 10px 0 0 10px;
    border-radius: 2px;
}

.imgcontainer:after {
    bottom: -32px;
    right: -32px;
    border-width: 0px 10px 10px 0px;
    border-radius:2px;
}

.imgcontainer>:first-child:before {
    bottom: 0;
    right: 0;
    border-width: 0 1px 1px 0px;
}

.imgcontainer>:first-child:after {
    bottom: 0;
    left: 0;
    border-width: 0 0 1px 1px;
}

/* -------------------css for red border in image-------------- */
.setting,
.darkmode {
    position: fixed;
    top: 4rem;
    right: 4rem;
    user-select: none;
    z-index: 1000;
}

.colorchoice {
    background-color: var(--clr-nav-900);
    border-radius: 12px;
    position: fixed;
    top: -12rem;
    right: 10rem;
    padding: 2rem;
    z-index: 1000;
    transition: 0.6s ease;

}
.colorchoice-active{
    top: 4rem;
    
}

.colors {
    display: flex;
    gap: 5px;
}

.color-1 {
    background-color: #fd2247;
    animation: pulse-black 2s ease 0.5s infinite;
}


.color-2 {
    background-color: #007cff;
    animation: pulse-black 2s ease 0.5s infinite;
}

.color-3 {
    background-color: #52b66cfa;
    animation: pulse-black 2s ease 0.5s infinite;
}

.color-4 {
    background-color: #ff63e8;
    animation: pulse-black 2s ease 0.5s infinite;
}
.color-5 {
    background-color: red;
    animation: pulse-black 2s ease 0.5s infinite;
}

.color-6 {
    background-color: #0B2361;
    animation: pulse-black 2s ease 0.5s infinite;
}

@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

}

.colors span {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    cursor: pointer;
}
.darkmode {
    top: 11rem;
    right: 4rem;
    
}

.setting span {
    cursor: pointer;
    font-size: 4rem;
    position: relative;  
}
.setting span:hover {
 transform: rotate(360deg);
}

.darkmode i {
    cursor: pointer;
    font-size: 3rem;

}

.displaynone {
    display: none;
}


.displayblock {
    display: block;    
}

/* ----------------------about section start---------------------*/

.about_us {
    width: 81vw;
}

.about_us_heading h1 {
    font-size: 5rem;
    font-weight: 900;
    position: relative;
    padding: 40px 0px 0px 0px;
    /* margin-top: 40px; */
    margin-bottom: 9rem;
}


.about_us_heading>:first-child:before {
    position: absolute;
    content: '';
    border-bottom: 0.5rem solid var(--clr-red-400);
    width: 7rem;
    height: 4rem;
    bottom: -1rem;
    left: 0px;

}

.about_us_heading>:first-child:after {
    position: absolute;
    content: '';
    border-bottom: 0.6rem solid var(--clr-red-400);
    width: 4rem;
    height: 4rem;
    bottom: -2rem;
    left: 0px;
}

.borderbottom {
    color: var(--clr-para-400);
}

/*------------- personal details in about section start------------- */
.experience-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr;
    gap: 3rem;
    margin-top: 3rem;
}

.experience-container div {
    border-radius: 29px 0px 0px 29px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.experience-container-div-span-2nd {
    font-size: 2rem;
    border-right: 2px solid var(--clr-red-400);
    line-height: 3rem;
    display: flex;
    align-items: center;
}

.experience-container-div-span2-2nd {
    font-size: 2rem;
    border-right: 2px solid var(--clr-red-400);
    line-height: 3rem;
    display: flex;
    align-items: center;
}

.talk-about-new-pro {
    display: flex;
    place-content: center;
    margin: 6rem 0rem 12rem 0rem;

}

.talk-about-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}


.talk-about-arrow i:hover {
    transform: translateX(1rem);
    cursor: pointer;


}

.talk-about-new-pro>div {
    width: 60%;
    border: none;
    border-radius: 20px;
    padding: 3rem;
    box-shadow: 0px 0px 10px var(--clr-nav-900);
}

/*------------- personal details in about section end------------- */
/*----------------- my skills portion start----------------- */
.my-skill {
    margin-bottom: 18rem;
}

.my-skill-heading {
    font-size: 3.5rem;
    font-weight: 600;
    padding: 40px 0px 40px 0px;
    text-align: center;
}

.my-skill-data-div {
    background-color: var(--clr-nav-900);
    border-radius: 10px;
    padding: 1.5rem;

}

.my-skill-data-div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-skill-range-with-image {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.my-skill-data-div div span {
    font-size: 2rem;
}

.range {
    background-color: #9e9e9e;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    position: relative;
}

.range::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--clr-red-400);
    border-radius: 10px;
    width: 100%;
    height: 5px;
}

.html::before {
    width: 90%;
}

.css::before {
    width: 80%;
}

.Javascript::before {
    width: 60%;
}

.tailwind::before {
    width: 85%;
}

.bootstrap::before {
    width: 90%;
}

.php::before {
    width: 70%;
}

.nodejs::before {
    width: 40%;
}

/*----------------- my skills portion end ----------------- */
/* ----------------------about section  end ---------------------*/
/* ----------------------services section  start ---------------------*/
.services-div {
    width: 81vw;
}

.services-container,
.portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 4rem;
    column-gap: 2rem;
}

.portfolio-container a {
    text-decoration: none;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* display: inline; */
    width: 90%;
    margin: 1rem;
}

.services-container div,
.portfolio-container div {
    background-color: var(--clr-nav-900);
    border-radius: 15px;
}

.web-developer,
.ui-design,
.frontend,
.backend {
    padding: 2rem;

}

.portfolio-container div div img {
    width: 100%;
}

.services-container div h3,
.services-container div div {
    text-align: center;
    font-size: 2.4rem;
    line-height: 5rem;
    margin: 1rem 0rem;
}

.portfolio-container div h3 {
    font-size: 2rem;
    line-height: 3rem;
    margin: 1rem 1rem 1rem 1em;
}

.portfolio-btn {
    color: var(--clr-red-400);
    background-color: var(--clr-nav-900);
    font-weight: 900;
    border: 1px solid var(--clr-red-400);
    padding: 0.3rem 1rem;
    border-radius: 20px;
    /* cursor: pointer; */
    width: 90%;
}
.portfolio-btn:hover {
    color: var(--clr-primary-100);
    
}

.services-container div p {
    text-align: center;
    font-size: 2rem;
    color: var(--clr-para-400);
}

.portfolio-container div p {
    text-align: start;
    margin: 1rem;
    font-size: 2rem;
    color: var(--clr-para-400);
    font-weight: 400;
}

.project-list div img {
    border-radius: 15px 15px 0px 0px;

}

/* ----------------------services section  end ---------------------*/
/* ----------------------contact section  start---------------------*/
.contact-div {
    width: 81vw;
}

.heading-question {
    text-align: center;
}

.headind-question-h2-1st {
    font-size: 2.5rem;
    color: var(--clr-red-400);
    margin-bottom: 1rem;
}

.contact-handles {
    padding: 10rem 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
}

::placeholder {
    opacity: 0.5;
}

.social-media-handle {
    /* cursor: pointer; */
    border-bottom: 2px solid #323233
}

.social-media-handle a {
    text-decoration: none;

}

.social-media-handle:hover {
    cursor: pointer;
    border-bottom: 2px solid var(--clr-red-400);
    transform: scale(1.02);
}

form {
    margin: 0rem 1rem 18rem 1rem;
    font-size: 2rem;
}

.form-name-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

form input,
.form-submit ,#message{
    border-radius: 16px;
    background-color: var(--clr-nav-900);
    border: none;
    font-size: 2rem;
    padding: 1rem 1rem 1rem 2.4rem;
    margin: 1rem 0rem;
    box-shadow: 0px 0px 5px var(--clr-nav-900);
    /* box-shadow: 0px 0px 5px red */

}

#message {

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.form-submit {
    background-color: var(--clr-red-400);
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
}



/* ----------------------contact section  end ---------------------*/




/*__________________________ @media queries start__________________________  */

@media (max-width:2640px) {
    html {
        font-size: 100%;
    }
}

@media (max-width:2219px) {
    html {
        font-size: 90%;
    }
}

@media (max-width:1993px) {
    html {
        font-size: 80%;
    }
}

@media (max-width:1760px) {
    html {
        font-size: 70%;
    }




}

@media (max-width:1629px) {
    html {
        font-size: 60%;
    }


}

@media (max-width:1445px) {
    html {
        font-size: 55%;
    }


}

@media (max-width:1220px) {
    html {
        font-size: 45%;
    }

} 

@media (max-width:1005px) {
    html {
        font-size: 40%;
    }

    .logo_circle {
        margin-bottom: 7rem;
    }
}

@media (max-width:784px) {
    html {
        font-size: 45%;
    }

    .displaynoneforicons {
        display: none;
    }

   

    .home {
        display: block;
        padding: 100px 1rem 1rem 5rem;
    }

    .lineheight {
        line-height: 6rem;
    }

    .textcontainer {
        margin: auto;
        width: fit-content;
        /* text-align: center; */

    }

    .imgcontainer {
        width: fit-content;
        margin: 100px auto;
    }

    .section {
        left: 7vw;
        width: 93vw;
        height: 100%;
    }

    @keyframes sildersection {

        0% {
            left: 100vw;
        }
    
        100% {
            left: 7vw;
        }
    }

    header {
        width: clamp(6rem, 10vw, 8rem);
        border-radius: 0rem;

    }

    .logo_circle img {
        display: none;
    }

    .side_navbar {
        align-items: end;
    }

    .experience-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .my-skill-range-with-image {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width:771px) {
    .navbar_properties_with_icon li {
        height: 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-handles {
        grid-template-columns: repeat(2, 1fr);

    }

    .services-container,
    .portfolio-container {
        grid-template-columns: 1fr 1fr;
    }

}

@media (max-width:650px) {
    html {
        font-size: 35%;
    }

    .my-skill-range-with-image {
        grid-template-columns: 1fr;
    }

    .talk-about-new-pro>div {
        width: 90%;
    }
}

@media (max-width:426px) {
    html {
        font-size: 35%;
    }

    header {
        width: 10rem;
        left: -10rem;
        transition: left 0.6s ease;
    }
    .activeheader{
        left: 0rem;
    }

    .menubar {
        display: block;
    }

    .section {
        left: 0vw;
        width: 100vw;
        height: 100%;
        padding: 2rem 4rem;
    } 
  
    @keyframes sildersection {

        0% {
            left: 100vw;
        }
    
        100% {
            left: 0vw;
        }
    }

    .home {
        padding: 100px 1rem 1rem 5rem;
    }
    .imgcontainer img {
        width: 31rem;
    }

    .lineheight {
        line-height: 6rem;
    }

    /* .about_us_heading h1 {
        margin: 5rem 3rem 3rem 0rem;
    } */

    .services-container,
    .contact-handles,
    .portfolio-container,
    .form-name-section {

        grid-template-columns: 1fr;

    }
}

/*__________________________ @media queries end__________________________  */
